@import 'tailwindcss';

/* 中間の箱を画面いっぱいに広げる */
#root {
    width: 100%;
    height: 100%; /* 必要に応じて */
    margin: 0;
    padding: 0;
    text-align: left; /* デフォルトの中央寄せを解除 */
}

/* bodyの余計な制限も解除しておく */
body {
    margin: 0;
    display: block; /* flexになっている場合はblockに戻す */
    place-items: start; /* 念のため */
}
